/*
  J-Tech Company KE Website (http://www.j-tech.tech)
 =====================================
    @Author: Jackson A. Chegenye <jtechinfo3@gmail.com>
    @copyright   (c) J-Tech Company KE
    @Template: jtech
    @Version: 0.1
    @Last Edited: 03/May/2016
======================================
*/

/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

    /*HOME*/
    .section-intro .intro-content img {
        opacity: 0;
    }
    .section-intro{
        height: 658px;
    }

    /*NAVIGATION*/
    .shareMenu {
        background: rgba(255, 255, 255, 0);
        opacity: 0;
    }
    .navbar-toggle{
        margin-right: 10px;
        border: 1px solid #26AAE0;
    }
    .navbar-toggle .icon-bar{
        background-color: #26AAE0;
    }

    /*Alert messages*/
    .info, .success{
        margin: 15% 10%;
        padding-left: 20%;
    }
    .alert img{
        width: 4em;
    }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {

    /*HOME*/
    .section-intro .intro-content img {
        opacity: 0;
    }
    .section-intro{
        height: 658px;
    }

    /*NAVIGATION*/
    .shareMenu {
        background: rgba(255, 255, 255, 0);
        opacity: 0;
    }
    .navbar-toggle{
        margin-right: 10px;
        border: 1px solid #26AAE0;
    }
    .navbar-toggle .icon-bar{
        background-color: #26AAE0;
    }

    /*Alert messages*/
    .info, .success{
        margin: 15% 10%;
        padding-left: 20%;
    }
    .alert img{
        width: 4em;
    }
}

/* xs */
@media (max-width: 767px) {

    /*HOME*/
    .section-intro .intro-content img {
        opacity: 0;
    }
    .section-intro{
        height: 658px;
    }

    /*NAVIGATION*/
    .shareMenu {
        background: rgba(255, 255, 255, 0);
        opacity: 0;
    }
    .navbar-toggle{
        margin-right: 10px;
        border: 1px solid #26AAE0;
    }
    .navbar-toggle .icon-bar{
        background-color: #26AAE0;
    }

    /*Alert messages*/
    .info, .success{
        margin: 15% 10%;
        padding-left: 20%;
    }
    .alert img{
        width: 4em;
    }

}

/* XS Portrait */
@media (max-width: 479px) {

    /*HOME*/
    .section-intro .intro-content img {
        opacity: 0;
    }
    .section-intro{
        height: 658px;
    }

    /*NAVIGATION*/
    .shareMenu {
        background: rgba(255, 255, 255, 0);
        opacity: 0;
    }
    .navbar-toggle{
        margin-right: 10px;
        border: 1px solid #26AAE0;
    }
    .navbar-toggle .icon-bar{
        background-color: #26AAE0;
    }

    /*Alert messages*/
    .info, .success{
        margin: 15% 10%;
        padding-left: 20%;
    }
    .alert img{
        width: 4em;
    }

}