/*
 J-Tech Company KE Website (http://www.j-tech.tech)
 Test responsive layout
 =====================================
    @Author: Jackson A. Chegenye <jtechinfo3@gmail.com>
    @copyright   (c) J-Tech Company KE
    @template: jtech
    @version: 0.1
    @last Edited: 03/May/2016
======================================
*/

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.navbar {
    background: #fff;
    border-bottom: 1px solid #c0c0c0;
}

.rt-ruler {
    background: url('../img/ruler.png') top left no-repeat;
    position: fixed;
    top: 59px;
    width: 100%;
    height: 40px;
    z-index: 1000;
}

.rt-navbar .nav li {
    position: relative;
}
.rt-navbar .nav li small {
    display: inline-block;
    width: 30px;
}
.rt-navbar .nav li span {
    position: absolute;
    right: 10px;
}
.rt-navbar li .dropdown-menu {
    width: 260px;
}

.rt-iframe {
    margin-top: 59px;
    border: 1px solid #ccc;
    border-top: none;
}

.rt-iframe iframe {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.rt-loader {
    background: #fff url('../img/loader.gif') no-repeat 50% 50%;
    opacity: 0.75;
    z-index: 1000;
}